input[type="text"] {
    width: 192px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 12px;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 158px 7px;
    background-repeat: no-repeat;
    outline: none;
    color: #5c5c5c;
    padding: 7px 20px 7px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 20px;
    float: right;
}
/*.table thead th {
    background-color:#1f4a8e;
    color: #ffffff;
}*/
.table td, .table th{
    text-align: center;
}
.btn span.fa {               
    opacity: 0;             
}
.btn.active span.fa {                
    opacity: 1;             
}
.head-top h3{
    display: inline-block;
}
.head-top .btn{
    float: right;
}