body{
	font-family: 'Rubik', sans-serif;
}


p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    z-index: 1;
    height: 100%;
    position: fixed;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    transition: all 0.2s;    
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 15px 12px;
    background: #1b417d;
    height: 70px;
}

#sidebar.active .sidebar-header {
    padding: 10px 15px;
    background: #1b417d;
    height: 70px;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}


#sidebar .list-group.panel a[aria-expanded="true"], #sidebar .list-group.panel a:hover, #sidebar .list-group.panel a:focus {
    color: #fff;
    background: #2e5aa0;
    border-left: 4px solid #fdc006;
}

#sidebar ul li.active > a{
    color: #1c2431;
    background: #edf5f8;
    border-left: 4px solid #fdc006;
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .list-group.panel a i.fa-angle-right{
    float: right;
}

#sidebar.active .list-group.panel a i.fa-angle-right{
    float: unset;
}

#sidebar .list-group.panel a[aria-expanded="false"] i.fa-angle-right::before,#sidebar .list-group.panel a[aria-expanded="true"] i.fa-angle-right::before {
    content: "\f105";
    font-size: 1em;
}
#sidebar .list-group.panel a[aria-expanded="true"] i.fa-angle-right::before {
    content: "\f106";
}


#sidebar.active .list-group.panel a[aria-expanded="false"] i.fa-angle-right::before,#sidebar.active .list-group.panel a[aria-expanded="true"] i.fa-angle-right::before {
    content: "\f107";
    font-size: 1em;
}
#sidebar.active .list-group.panel a[aria-expanded="true"] i.fa-angle-right::before {
    content: "\f106";    
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


#sidebar .list-group a{
    color: #fff;
    background-color: #1f4a8e;    
    font-size: 15px;
}

#sidebar .list-group a i{
    margin-right: 5px;
}

#sidebar.active .list-group a i{
    margin-right: 0px;
}

#sidebar .list-group a i.fa-angle-right{
    margin-right: 0px;
}

#sidebar .list-group.panel{
    background-color: #1f4a8e;
/*    box-shadow: 0px 0px 4px #888888;*/
    height: calc(100vh - 70px);
    overflow: auto;
    padding: 15px 0px;
}

#sidebar.active .list-group.panel{
    height: calc(100vh - 70px);
    overflow: auto;   
}

#sidebar.active .list-group.panel a span{
    font-size: 0.8rem;
    overflow-wrap: break-word;
    width: 55px;  
}

#sidebar.active .list-group.panel a i{
    font-size: 1.5rem;   
}

#sidebar.active .list-group.panel .collapse a{
    font-size: 0.7rem;
/*    overflow-wrap: break-word;
    width: 80px;*/
}

#sidebar.active .list-group-item{
    border: none;
    text-overflow: ellipsis;
    padding: .75rem 0.2rem;
}

#sidebar .list-group-item{
    border: none;
}

#sidebar .collapse a.list-group-item{
    font-size: 0.9rem;
    background-color: #2e5aa0;
    border-radius: 0;
    border-left: 4px solid #fdc006;   
}

#sidebar .collapse{
    background-color: #2e5aa0;
}

#sidebar .sidebar-header h3{
    font-size: 1.3rem;
    margin-bottom: 0px;
    display: inline-flex;
    align-content: center;
}

#sidebar .list-group.panel .collapse a[aria-expanded="true"], #sidebar .list-group.panel .collapse a:hover, #sidebar .list-group.panel .collapse a:focus {
    color: #fff;
    background: #2e60ad;
    border-left: none;
    border-radius: 0;
}

#sidebar .list-group.panel .collapse a:hover, #sidebar .list-group.panel .collapse a:focus{
    border-left: 4px solid #fdc006;
    background-color: #1c427f;  
}


.page{
	position: absolute;
    top: 0;
    right: 0;
    transition: width 0.3s linear;
    width: calc(100% - 200px);
    background-color: #eeeeee;
    min-height: 100vh;
    padding-bottom: 35px;	
}

.page.active {
    width: calc(100% - 80px);
    transition: width 0.1s linear;
}

nav.navbar .badge {
    position: absolute;
    top: 0;
    right: 0;
}

.badge {
    font-weight: 400;
    border-radius: 0;
}

nav.navbar .navbar-header{
	width: 50px;
}

nav.navbar a.menu-btn {
	line-height: 19px;
    font-size: 14px;
    color: #1f4a8e;
    text-align: center;
    padding: 0px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 2px solid #1f4a8e;
}

nav.navbar a.menu-btn i[class*='icon-'] {
  transform: translateY(4px);
}

nav.navbar a.menu-btn:hover {
  color: #fdc006;
  border: 2px solid #fdc006;
}

footer.main-footer {
	position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #808a9a;
    padding: 8px 0;
}

footer.main-footer p {
    font-size: 11px;
    color:#fff;
    margin-bottom: 0px;
}

a.nav-link.logout {
    color: #6b6b6b;
    font-size: 0.9rem;
    padding: .6rem 0rem;
}

a.nav-link.logout:hover {
    color: #1f4a8e;
    font-size: 0.9rem;
}


@media (max-width: 768px){
    .page {
    width: 100%;
    }

    #sidebar .sidebar-header h3 {
        display: none;
    }  
}